
.preview-logo
{
    width: 120px;
}

.preview-upload-logo
{
    width:240px;
    max-height: 240px;
    overflow: hidden;
}

.files-dropzone
{
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 24px;
    border-style: dotted;
    border-radius: 4px;
}

.center-form
{
    margin-left: 60px;
    margin-right: 60px;
}
